.PromptItem
  padding: 7px 16px

  .event-date
    color: #0B3157
    font-family: 'Montserrat', sans-serif
    font-size: 12px
    font-weight: 800
    line-height: 14px
    opacity: 0.3
    padding: 5px

  .past
    opacity: 0.5
    background-color: #557392!important

  .prompt    
    background-color: #45B4B7
    border-radius: 2px
    padding: 10px 16px
    margin: 10px 0  

    .wrapper-header
      display: flex 

      .event-header
        display: flex
        flex: 1
        color: #FFFFFF
        font-family: 'Montserrat', sans-serif
        font-size: 14px
        font-weight: 500
        letter-spacing: -0.3px
        line-height: 17px
        opacity: 0.5
        text-transform: uppercase

      .time
        justify-content: flex-end

    .event-body
      color: #FFFFFF
      font-family: 'Montserrat', sans-serif
      font-size: 15px
      font-weight: 600
      letter-spacing: -0.3px
      line-height: 19px
      text-transform: capitalize
