.DayItems
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: center
  margin-top: 10px
  cursor: pointer
  height: 38px
  width: calc(100%/7)
  -webkit-tap-highlight-color: transparent

  .today::before
    content: '\2022'
    color: red    
    display: flex
    justify-content: center
  
  .day-wrapper
    display: flex
    flex-direction: column
    align-items: center
    color: #0B3157
    font-family: 'Montserrat', sans-serif
    font-size: 16px
    font-weight: 500 
    padding-bottom: 4px

    .day
      display: flex
      flex-direction: column
      align-items: center           

      .backlight
        display: flex
        flex-direction: row
        height: 6px
        width: 22px      

        .line
          display: flex
          flex: 1
          background-color: #48C1C2
          border-radius: 5px
          color: white
          margin: 2px 1px

        .past
          background-color: #BAD1CD
    
  .weekends
    color: red      

  .active
    background-color: #0B3157
    width: 42px
    height: 43px
    align-items: center
    justify-content: flex-end
    display: flex
    flex-direction: column
    border-radius: 4px
    .day-wrapper
      color: white
