.Header-wrapper
  display: flex
  flex-direction: column
  background-color: #0B3157  

  .main-layer
    display: flex
    justify-content: space-between
    margin: 16px 16px 0 16px
    align-items: baseline

    .navigation
      color: #48C1C2
      font-family: 'Montserrat', sans-serif
      font-weight: 700
      font-size: 14px
      line-height: 14px
      cursor: pointer
      text-transform: uppercase
      -webkit-tap-highlight-color: transparent


    .switch-button
      display: flex
      cursor: pointer
      -webkit-tap-highlight-color: transparent


      .collaps
        display: flex
        background-color: #0B3157
        border: 0
        font-family: 'Montserrat', sans-serif
        color: white
        font-size: 16px
        font-weight: 800
        line-height: 19px

      .upper-case
        text-transform: uppercase
        
      .pointer
        background-image: url('../../assets/chevron-down.svg')
        background-repeat: no-repeat
        padding: 10px

      .inverted
        transform: translateY(-50%) rotate(180deg)
        padding: 45px 15px 0px 10px

  .buttons-wrapper
    display: flex
    justify-content: center
    margin-bottom: 16px

    .buttons-changer
      background-color: #0B3157
      color: #E8E9EB
      font-family: 'Montserrat', sans-serif
      font-size: 14px
      font-weight: 400
      line-height: 17px
      opacity: 0.5
      margin: 0 5px
      border: 1px #E8E9EB solid
      border-radius: 30px
      padding: 5px 20px
      cursor: pointer

  .daysNames
    display: flex
    justify-content: space-around
    margin: 15px 0 5px 0
    padding: 0 16px

    .weekDay
      display: flex
      color: #FFFFFF
      font-family: Montserrat
      font-size: 11px
      font-weight: 400
      line-height: 13px
      opacity: 0.5
      