.Dates
  display: flex
  flex-direction: column

  .dateItem
    display: flex
    justify-content: flex-start
    padding: 0 16px
    flex-wrap: wrap
    
  .dateSignature
    display: flex
    color: #0B3157
    font-family: Montserrat
    font-size: 14px
    font-weight: 800
    letter-spacing: -0.3px
    line-height: 17px
    margin: 30px 16px 16px 16px
